{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="header-bar">
    <h1>Login</h1>
</div>

<div class="card-body">
    {% if form.errors %}
    <p class='error'>Username or Password is wrong</p>
    {% endif %}
    <form action="" method='POST'>{% csrf_token %}

        <label>{{ form.username.label }}</label>
        {{ form.username }}

        <label>{{ form.password.label }}</label>
        {{ form.password }}
        
        <br>
        <input style="margin-top: 10px;" class="button" type="submit" value='login'>
    </form>

    <p>Do not have an account? <a href="{% url 'signup' %}">SignUp</a></p>
</div>


{% endblock %}